{% extends "ProyectoApp/base.html" %}

{% load static %}

{% block content %}

<section class="page-section clearfix">
    <div class="container">
    <div class="introA">
        <img class="introA-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoApp/img/cara.jpg' %}" alt="">
        <div class="introA-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">In egestas venenatis mauris, quis </span>
            <span class="section-heading-lower">adipiscing elit</span>
        </h2>
        <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non fringilla metus, a maximus ante. Donec malesuada quam vitae pellentesque vehicula. Duis cursus euismod augue, quis porta enim pretium vitae. Maecenas non massa orci. Cras at pharetra lorem, varius ullamcorper diam. Quisque vitae arcu eget metus tristique efficitur. Morbi scelerisque tortor eu augue elementum, ac pharetra erat vulputate. Sed pulvinar sodales purus sit amet maximus. Proin in arcu turpis.
        </p>
        
        </div>
    </div>
    </div>
</section>
<section class="page-section clearfix">
    <div class="container">
    <div class="introA">
        <img class="introA-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'ProyectoApp/img/cara.jpg' %}" alt="">
        <div class="introA-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">In egestas venenatis mauris, quis </span>
            <span class="section-heading-lower">adipiscing elit</span>
        </h2>
        <p class="mb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non fringilla metus, a maximus ante. Donec malesuada quam vitae pellentesque vehicula. Duis cursus euismod augue, quis porta enim pretium vitae. Maecenas non massa orci. Cras at pharetra lorem, varius ullamcorper diam. Quisque vitae arcu eget metus tristique efficitur. Morbi scelerisque tortor eu augue elementum, ac pharetra erat vulputate. Sed pulvinar sodales purus sit amet maximus. Proin in arcu turpis.
        </p>
        
        </div>
    </div>
    </div>
</section>


{% endblock %}