{% extends "ProyectoApp/base.html" %}

{% load static %}

{% block content %}

<section class="page-section clearfix">
    <div class="container">
    <div class="introA">
        <div class="introA-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Olavarría 31, Rauch, Provincia de Buenos Aires</span>
            <span class="section-heading-lower">02494-500000</span>
        </h2>
        <p class="mb-3">Las 24 horas del dia, estamos a tu disposición
        </p>
        
        </div>
    </div>
    </div>
</section>

{% endblock %}